body {
  font-family: "Lato", sans-serif;
  margin: 0%;
}
h1 {
  font-size: 60px;
}
.purple-color {
  color: rgb(163, 24, 163);
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(#d9b3e9, purple);
  padding: 10px 40px;
  color: beige;
  font-weight: 700;
  border-radius: 5px;
}
section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
}
.half-width img {
  width: 80%;
}
.welcome-liner {
  border-left: 5px solid rebeccapurple;
  padding-left: 2%;
}
.Mission {
  text-align: center;
  padding-top: 3%;
}
#mission {
  border-radius: 30px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background-image: linear-gradient(#c3ebef, #77e0eb);
  box-shadow: 5px 5px 10px rgb(151, 121, 140);
}
#vision {
  border-radius: 30px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  margin-right: 40px;
  background-image: linear-gradient(#f0d1e7, #f27ed0);
  box-shadow: 5px 5px 10px rgb(151, 121, 140);
}
#goals {
  border-radius: 30px;
  padding-bottom: 60px;
  margin-bottom: 40px;
  margin-right: 40px;
  background-image: linear-gradient(#c5f7e2, #65e8af);
  box-shadow: 5px 5px 10px rgb(151, 121, 140);
}
.shape {
  margin-top: 40px;
  padding-bottom: 60px;
  padding-left: 110px;
  padding-right: 50px;
  background-image: url(shapes/dream-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#limit {
  padding-top: 180px;
  padding-left: 5px;
  padding-right: 280px;
}
.dwl {
  font-size: 300%;
}
.shape2 img {
  width: 170%;
}
.shape2 {
  padding-top: 40px;
  padding-left: 5px;
  padding-right: 450px;
}
#global {
  padding-top: 90px;
  padding-left: 210px;
  padding-right: 80px;
}
.grow {
  padding-left: 40px;
}
.App {
  padding-left: 70px;
}
.last {
  color: rgb(245, 242, 235);
  text-align: center;
  background-image: url(pictures/black-footer.webp);
  padding-bottom: 10px;
  padding-top: 5px;
}
